<main class="form-signin w-100 m-auto">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), class:"form-floating") do |f| %>
    
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <label for="floatingInput">Email address</label>
      <%= f.email_field :email, class:"form-control", id:"floatingInput", placeholder:"name@example.com"  %>
      <br>

      <label for="floatingPassword">Password</label>
      <%= f.password_field :password, autocomplete: "current-password", class:"form-control", id:"floatingPassword", placeholder:"Password" %>

    <div class="form-check text-start my-3">
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me, class:"form-check-input", id:"flexCheckDefault"%>
          <%= f.label :remember_me, class:"form-check-label" %>
        </div>
      <% end %>
    </div>

    <%= f.submit "Log in", class:"btn btn-primary w-100 py-2"%>
  <% end %>
  <%= render "devise/shared/links" %>
</main>


